<% @users.each do |user| %>
<ul class="employee__box__list">
      <li class="employee__box__list__name", id="leave", value="<%=user.id%>" data-user-id="<%=user.id%>",  data-schedule-id="1"><%= user.name %></li>
</ul>
<% end %>