<%= render partial: "header" %>

<%= render partial: "list"%>

<footer>
    <div class="setting_box">
      <a href="/users/new">
      <div class="setting_box__button" id="registration">
          <i class="fas fa-user-plus"></i><span class="setting_box__button-text">登録</span>
      </div>
      </a>
      <a href="/">
      <div class="setting_box__button">
          <i class="fas fa-home"></i><span class="setting_box__button-text">戻る</span>
      </div>
      </a>
    </div>
  </footer>