h2{
  background-color: $main_color;
  font-size: 160%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  letter-spacing: 5px;
}
h3{
  margin: 40px auto;
  width: 85%;
  font-size: 120%;
  font-weight: bold;
  padding: 20px 5px 5px 10px;
  border-bottom: 1px solid $sub_color;
  color: $sub_color;
}

.form_box{
  top:100px;
  margin: auto;
  position: relative;
  width: 40%;
  background-color: #fff;
}

.form_box__category{
  margin: 30px auto 0;
  position: relative;
  text-align: center;
}

.input_area{
  border:none;
  border-bottom: solid 1px #666;
  width: 60%;
  font-size: 110%;
  padding: 10px;
}

.label_text{
  font-size: 110%;
  display: inline-block;
  width: 15%;
  font-weight: bold;
  text-align:  center;
  margin-right: 15px;
}

.form_button{
  margin: 20px 0;
  width: 40%;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  padding:15px;
  background-color: $main_color;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.form_button:hover{
  background-color: $sub_color;
}



  .notice {
    font-size: 15px;
    color: #00f;
  }

  .alert {
    font-size: 15px;
    color: #f00;
  }